<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <img src="https://img.icons8.com/clouds/100/000000/checklist.png">
    </div>
    <div class="w3-display-topmiddle">
        <h1 class="w3-jumbo w3-animate-top">RealTime Todolist</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <div class="containerForm">
            <form class="newTaskForm">
                <label>
                    <input placeholder="New task :                                      (appuyez sur entrée pour valider)"
                           class="w3-input w3-animate-input newTaskInput" type="text">
                </label>
                <input style="display: none" class="newTaskSubmit" type="submit">
            </form>
        </div>
        <div class="w3-container w3-content" id="containerTasks">
            {{#each tasks}}
                <div class="w3-panel w3-white w3-card w3-display-container task" id="{{@key}}">
                    <span class="w3-display-topright w3-padding w3-hover-red delTask">X</span>
                    <p class="w3-text-blue">{{this}}</p>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="javascripts/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    let socket = io.connect(window.location.href);

    var onclickDelete = function (idTask) {
        $(`#${idTask} .delTask`).click(function () {
            socket.emit('del_task', idTask);
        })
    };

    let onclickDeleteAllSavedTasks = function() {
        $('.delTask').click(function (event) {
            socket.emit('del_task', $(event.target).parent()[0].id);
        })
    };


    onclickDeleteAllSavedTasks();
    socket.on('new_task', function (data) {
        appendToList(data.value, data.id);
        onclickDelete(data.id);
    });

    socket.on('del_task', function (id) {
        deleteFromlist(id);
    });

    $('.newTaskForm').submit(function (event) {
        let input = $('.newTaskInput');
        event.preventDefault();
        input.blur();
        socket.emit('new_task', input.val());
        input.val('');
    });
</script>
