<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}
</body>
</html>
